.navbarStyling{
    background-color: transparent;
}
.adminDropdownStyling{
   background-color: transparent;
}
#navlinkStyling{
    color: #EEFBF5;
}
.postLinkStyling{
    color: #EEFBF5;
}

#logoutStyles {
    color: #EEFBF5;

}

#test{
    background-image: (url(C:\Users\carte\source\repos\Creeker\Creeker\client\src\components\images\christmas-6809681.png));
}