.navbarStyling{
    background-color: transparent;
}
.adminDropdownStyling{
    background-color: transparent;
}
#navlinkStyling{
    color: #EEFBF5;
}
.postLinkStyling{
    color: #EEFBF5;
}

#logoutStyles {
    color: #EEFBF5;

}